<form class="flex items-center" method="get">
  {% if app.user %}
    <a href="{{ path('app.settings.profile') }}" class="px-4 hover:text-blue-500 transition-all">
      {{ app.user.name ?? app.user.email }}
    </a>
    <button class="button button--primary ml-4" formaction="{{ path('app.auth.logout') }}">Logout</button>
  {% else %}
    <button class="button button--primary button--raised" formaction="{{ path('app.registration') }}">
      Sign up
    </button>
    <button class="button button--inset ml-2" formaction="{{ path('app.auth.login') }}">Login</button>
  {% endif %}
</form>
